@model HumberShores.Models.employee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.emp_position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emp_position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.department.dept_desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.department.dept_desc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.emp_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
