@model HumberShores.Models.department

@section Styles {
    <link href="@Url.Content("~/Content/department.css")" rel="stylesheet" type="text/css" />
}
<div>
    <h5>@Html.DisplayFor(model => model.dept_name)</h5>
    <div class="details">        
        @Html.DisplayFor(model => model.dept_desc)
        <div class="extention">@Html.DisplayNameFor(model => model.dept_phone): <strong>@Html.DisplayFor(model => model.dept_phone)</strong></div>
        <h6>Department Head: @Html.DisplayFor(model => model.employee.site_users1.full_name)</h6>
    </div>
</div>
@if (User.IsInRole("Admin") || User.IsInRole("Super Admin"))
{        
    @*<p>*@
        @Html.ActionLink("Edit Department", "Edit", new { id = Model.dept_id }, new { @class = "btn btn-default btnService" })
    @*</p>*@
}
@if (User.IsInRole("Super Admin"))
{
    @*<p>*@
        @Html.ActionLink("Delete Department", "Delete", new { id = Model.dept_id }, new { @class = "btn btn-default btnService btn-delete" })
    @*</p>*@
}
<hr />