@model HumberShores.Models.site_users

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>site_users</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.user_first_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_first_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_last_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_last_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_dob)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_dob)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_city)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_city)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_province)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_province)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_postal_code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_postal_code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_date_joined)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_date_joined)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employee.emp_position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employee.emp_position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.site_roles.role_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.site_roles.role_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.user_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
