@model HumberShores.Models.announcement

@{
    ViewBag.Title = "Announcement Details";
}

<div class="container">
    <ul class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")">Home</a></li>
        <li><a href="@Url.Action("AdminHome", "Home")">Administrator Home</a></li>
        <li><a href="@Url.Action("Index", "announcements")">Announcements Editor</a></li>
        <li class="active">Announcements Details</li>
    </ul>
    <div class="annHomeHead">
        <h2>View Announcement</h2>
    </div>
    <hr />
    @Html.Partial("AdminDash")
    <main class="col-sm-7 featureContent">
        <div>
            <h3>@Html.DisplayNameFor(model => model.ann_text)</h3>
            <p>@Html.DisplayFor(model => model.ann_text)</p>
        </div>
        <div>
            <h3>@Html.DisplayNameFor(model => model.ann_date)</h3>
            <p>@Html.DisplayFor(model => model.ann_date)</p>
        </div>
        <div>
            <h3>@Html.DisplayNameFor(model => model.ann_severity)</h3>
            <p>@Html.DisplayFor(model => model.ann_severity)</p>
        </div>
        <div>
            <h3>@Html.DisplayNameFor(model => model.ann_visible)</h3>
            <p>@Html.DisplayFor(model => model.ann_visible)</p>
        </div>
        <div>
            <h3>@Html.DisplayNameFor(model => model.emp_id)</h3>
            <p>@Html.DisplayFor(model => model.emp_id)</p>
        </div>
        <div>
            <p class="serviceBtn annCrud">@Html.ActionLink("Update Announcement", "Edit", new { id = Model.ann_id }, new { @class = "btn btn-default" })</p>
            <p class="serviceBtn annCrud">@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })</p>
        </div>
        <hr />
    </main>
</div>
